
#passport
{
    position:relative;
	border:10px solid #000000;
    width:329px;
	margin:5px 35px;
	height:453px;
	-moz-box-shadow:0 0 22px #111;
	-webkit-box-shadow:0 0 22px #111;
	box-shadow:0 0 22px #111;
}

#contact_info
{
    text-align: center;
    margin:8px 45px;
    height:400px;
    width:300px;
    padding:138px 0px;
	list-style:none outside none;
	overflow:hidden;
	position:relative;
}
#contact_info p
{
    color:#000000;
    font-size:22px;
    padding:0px 0px;
    font-family:Arial;
}
#contact_info a
{
    color:#000000;
    font-size:22px;
    padding:0px 0px;
    font-family:Arial;
    text-decoration:none;
}
#contact_info a:hover
{
    color:#000000;
    font-size:22px;
    padding:0px 0px;
    text-decoration:none;
}
#contact_info a
{
    font-family:Arial;
    font-size:22px;
    padding:0px 0px;
    text-decoration:none;
}
#welcome
{
   position:relative; 
   margin:10px 45px;
   padding:10px 0px;
   height:300px;
   font-family: Arial;
   font-size:18px;
   width:350px;
}
#welcome p
{
    color:#000000;
}
#welcome a
{
    color:#000000;
    text-decoration:none;
}
#menu
{
	position:relative;
	padding:0px 35px;
	width:350px;
	height:20px;
	margin:10px 45px;
}
#menu a
{
text-decoration: none;
}