@media only screen and (min-width: 1000px)
{
	*{
	margin:0;
	padding:0;
	}
	#welcome /*welcome canvas - desktop browser*/
	{
	position:fixed;
	margin:0px 0px;
	padding:0px 0px;
	}
	#welcome_area /*welcome_area - desktop browser*/
	{
	margin:30px 540px;
	padding:60px 0px;
	height:500px;
	width:600px;
	}
	#aboutme_div /*aboutme_div canvas - desktop browser*/
	{
	position:relative;
	margin:5px 550px;
	}
	#contactme /*contactme canvas - desktop browser*/
	{
	position:relative;
	margin:15px 530px;
	padding:200px 50px;
	}
	#social /*social menu - desktop browser*/
	{
	position:fixed;
	margin:495px 130px;
	padding:0px 0px;
	height:50px;
	width:250px;
	}
	
	
	#about /*desktop browser*/
	{
	position:relative;
	margin:0px 620px;
	padding:0px 0px;
	height:350px;
	font-family: Arial;
	font-size:18px;
	width:350px;
	}
	#about p /*desktop browser*/
	{
	color:#000000;
	}
	#about a /*desktop browser*/
	{
	color:#000000;
	text-decoration:none;
	}
	
	#menu /*desktop browser*/
	{
	position:fixed;
	padding:15px 0px;
	width:370px;
	height:25px;
	margin:440px 60px;
	text-align: center;
	}
	#menu a /*desktop browser*/
	{
	text-decoration: none;
	font-size:18px;
	font-family: arial;
	}
	
	#contact_info /*desktop browser*/
	{
	text-align: center;
	margin:10px 530px;
	height:87px;
	width:350px;
	padding:0px 100px;
	list-style:none outside none;
	position:relative;
	}
	#contact_info p /*desktop browser*/
	{
	color:#000000;
	font-size:22px;
	padding:0px 0px;
	font-family:Arial;
	}
	#contact_info a /*desktop browser*/
	{
	color:#000000;
	font-size:22px;
	padding:0px 0px;
	font-family:Arial;
	text-decoration:none;
	}
	#contact_info a:hover /*desktop browser*/
	{
	color:#000000;
	font-size:22px;
	padding:0px 0px;
	text-decoration:none;
	}
	#contact_info a /*desktop browser*/
	{
	font-family:Arial;
	font-size:22px;
	padding:0px 0px;
	text-decoration:none;
	}
}

@media only screen and (max-width: 999px) /*iPad* Vertical*/
{
	*{
	margin:0;
	padding:0;
	}
	#welcome /*welcome canvas - ipad vertical*/
	{
	padding:15px 0px;
	}
	#contactme /*contactme canvas - desktop browser*/
	{
	position:relative;
	margin:15px 0px;
	padding:25px 25px;
	}
	
	
	#about
	{
	position:relative; 
	margin:30px 72px;
	padding:0px 0px;
	height:350px;
	font-family: Arial;
	font-size:18px;
	width:350px;
	}
	#about p
	{
	color:#000000;
	}
	#about a
	{
	color:#000000;
	text-decoration:none;
	}
	
	#contact_info 
	{
	text-align: center;
	margin:157px 62px;
	height:87px;
	width:350px;
	padding:0px 0px;
	list-style:none outside none;
	position:relative;
	}
	#contact_info p
	{
	color:#000000;
	font-size:22px;
	padding:0px 0px;
	font-family:Arial;
	}
	#contact_info a
	{
	color:#000000;
	font-size:22px;
	padding:0px 0px;
	font-family:Arial;
	text-decoration:none;
	}
	#contact_info a:hover
	{
	color:#000000;
	font-size:22px;
	padding:0px 0px;
	text-decoration:none;
	}
	#contact_info a
	{
	font-family:Arial;
	font-size:22px;
	padding:0px 0px;
	text-decoration:none;
	}
	
	#social
	{
	margin:10px 133px;
	padding:0px 0px;
	}
	
	#menu
	{
	position:relative;
	padding:5px 5px;
	width:350px;
	height:25px;
	margin:20px 55px;
	text-align:center;
	}
	#menu a
	{
	text-decoration: none;
	font-size:18px;
	font-family: arial;
	}
	
   h1 span:nth-child(1) 
   { 
   display: inline; 
   }
}


@media only screen and (device-width: 768px) and (orientation: landscape) 
{

}


@media only screen and (device-width: 768px) and (orientation: portait) 
{
  /* rules for iPad in portait orientation */
   h1 span:nth-child(1) { display: inline; }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) 
{
	*{
	margin:0;
	padding:0;
	}
	#welcome /*welcome canvas - iPhone browser*/
	{
	padding:0px 0px;
	margin:0px 20px;
	}
	#social /*social menu - iPhone browser*/
	{
	position:relative;
	margin:0px 150px;
	padding:10px 10px;
	height:50px;
	width:250px;
	}
	#aboutme_div /*aboutme_div canvas - iPhone browser*/
	{
	position:relative;
	margin:5px 20px;
	}
	#contactme /*contactme canvas - iPhone browser*/
	{
	position:relative;
	margin:0px 10px;
	}

	
	
	#menu
	{
	position:relative;
	padding:5px 5px;
	width:370px;
	height:25px;
	margin:0px 69px;
	text-align: center;
	}
	#menu a
	{
	text-decoration: none;
	font-size:18px;
	font-family: arial;
	}
	
	#about
	{
	position:relative; 
	margin:30px 90px;
	padding:0px 0px;
	height:350px;
	font-family: Arial;
	font-size:18px;
	width:350px;
	}
	#about p
	{
	color:#000000;
	}
	#about a
	{
	color:#000000;
	text-decoration:none;
	}
	
	#contact_info
	{
	text-align: center;
	margin:0px 90px;
	height:87px;
	width:350px;
	padding:10px 0px;
	list-style:none outside none;
	position:relative;
	}
	#contact_info p
	{
	color:#000000;
	font-size:22px;
	padding:0px 0px;
	font-family:Arial;
	}
	#contact_info a
	{
	color:#000000;
	font-size:22px;
	padding:0px 0px;
	font-family:Arial;
	text-decoration:none;
	}
	#contact_info a:hover
	{
	color:#000000;
	font-size:22px;
	padding:0px 0px;
	text-decoration:none;
	}
	#contact_info a
	{
	font-family:Arial;
	font-size:22px;
	padding:0px 0px;
	text-decoration:none;
	}
	
	h1 span:nth-child(2)
	{
	display: inline; 
	}
}

