<hr>
<article id="photo">
	<div class="contents">
		<img src="/images/photo.png">
		<div class="caption">
			<em>ATPI 2012.</em>
		</div>
		<div class="left">
			<h2>Photography.</h2>
			<p>When I was about 13-years-old, I watched A Clockwork Orange and hated it. I didn't understand why so many people
			highly regarded that film, so I watched it again (And I feel in love with it). To get that "eye" for photography (like Stanley did)
			I decided to learn photography. I began my journey in photography when I first attend high school. Since then I have
			work closely with various high-school journalism conventions (<a href="http://www.atpi.org/">ATPI</a> and <a href="http://www.sipa.sc.edu/">SIPA</a>)
			helping promote photo-journalism and open-source solutions with high-school students. Currently, I work on lighting techniques that
			can be used in photography and in filmmaking (hitting two birds with one stone).
			</p>
		</div>
		<div class="right">
			<li><a href="http://www.atpi.org/about/" style="font-size:16px;">Association of Texas Photography Instructors</a>
			<h4>Feb 2012-Present</h4>
			<p>The Association of Texas Photography Instructors (ATPI) provides information and 
			resources to teachers and students that work with photography, whether in Art, Journalism,
			 Industrial Technology or Vocational curriculum areas.</p>
			</li>
			<li><a href="http://www.sipa.usc.edu/" style="font-size:16px;">Southern Interscholastic Press Association</a>
			<h4>March 2007-Present</h4>
			<p>The Southern Interscholastic Press Association (SIPA) is a nonprofit organization 
			whose purpose is to promote journalistic professionalism by public schools in the 
			Southeast of the United States of America.</p>
			</li>
		</div>
	</div>
</article>